body{
	font-family:'Oswald';
	font-weight:100;
	padding:0;
	margin:0;
}
header {
    background: url(images/header1.png);
    height: 11vw;
    position: relative;
    background-size: 100%;
}
.main {
	background: url(images/black.png);
}
header .menu{
	background:#111111;
	opacity:0.8;
    position: absolute;
    width: 100%;
    bottom: 0;
}
header .menu__ul{
	width: 86%;
    margin: auto;
    left: 50%;
	padding: 0;
}

header .menu__ul li{
	display: inline-block;
    width: 13%;
	text-align: center;
}
header .menu__ul li a{
	color: #ffffff;
    text-decoration: none;
    font-size: 26px;
}
header .menu__ul li a:hover{
	color:#cccccc
		
}

.main .container{
	background:#e9e9e9;
	width: 86%;
	margin: auto;

	
}
.main .main__content{
	display: inline-grid;
    width: 67%;
}
.main .main__forms{
	display:inline-grid;
	width:29%;
}
.main .main__content .content-header input{
	display: inline-block;
    width: 33%;
    height: 36px;
    background: #eee url(images/search.png);
    background-position-x: 95%;
    background-repeat: no-repeat;
    background-position-y: 52%;
    border: 2px solid #c0c0c0;
    outline: none;
	width: calc(33% - 5px);
	padding-left: 10px;
}
.main .main__content .content-header h1{
	width: 62%;
    display: inline-block;
}
.main .main__content .content-header{
	width: 89%;
    margin: auto;
}
.main__content .main__h2{
	width: 89%;
    margin: auto;
    font-size: 26px;
	margin-bottom: 18px;
	position: relative;
}
.main__content .main__h2::before {
    content: " ";
    background: repeating-linear-gradient(
0deg
,#E9E9E9 -38px,#E9E9E9 12px,#933435 8px,#933435 25px);
    padding: 2px 12px;
    position: absolute;
    height: 38px;
    left: -30px;
}
.categories{
	width: 93%;
    margin: auto;
	display: flex;
    flex-wrap: wrap;
}
.main__content .categories__item{
    width: 19%;
	text-align: center;
	margin-bottom: 50px;
	position: relative;
	padding-bottom: 40px;
}
.main__content .categories__item img{
	margin:auto;
    width: 80%;
	box-shadow: 0 0 0px 1px rgb(0 0 0 / 50%);
}
.main__content .categories__item .categories__name{
	margin-top: -12px;
    font-size: 18px;
	margin-bottom: 10px;
}
.main__content .categories .categories__item a{
	background: linear-gradient(#5f5f5f , #4a4a4a);
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 26px;
	border: 1px solid #3f3f3f;
	border-radius: 4px;
	position: absolute;
    bottom: 0px;
	left: 50%;
    transform: translateX(-50%);
}
.main__content .categories .categories__item a:hover{
	opacity:0.8;
}
 .main__content .categories .categories__item .categories__prop{
	font-size: 11px;
	margin-top: -1px;
 }

.main__content .more {
	text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
}
.main__content .more a{
	color: #444;
}
.main__forms .authorization,
.main__forms .monitor{
	background: #dadada;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px rgb(142 139 139 / 50%);
	padding-bottom: 56px;
	margin-bottom: 29px;
	position: relative;
	min-height: 298px;
}
.main__forms  h3{
	font-size: 28px;
    padding-left: 11%;
}
.main__forms .authorization .authorization__border{
	border: 1px solid #c3c3c3;
    margin: auto;
    margin-bottom: 15px;
    margin-top: -15px;
    width: 80%;
}

.main__forms .authorization .authorization__p a{
color: #101010;
}
.main__forms .authorization .authorization__p{
	font-size: 11px;
    width: 80%;
    margin: auto;
	margin-bottom: 20px
}
.main__forms .authorization input{
	width: 76.3%;
    height: 36px;
    border: 2px solid #c0c0c0;
    outline: none;
    padding-left: 10px;
    margin-left: 9.6%;
	margin-bottom: 10px;
    font-size: 16px;
}
.main__forms .button{
	background: linear-gradient(#f6f6f6 , #ececec);
    font-size: 14px;
    color: #949494;
    text-decoration: none;
    padding: 8px 26px;
    border-radius: 4px;
    box-shadow: 0px 5px 5px 1px rgb(173 171 171 / 50%);
    margin-left: 65%;
    position: absolute;
    bottom: 24px;
}
.loading{
	    position: absolute;
    background: #fffefe;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.8;
    text-align: center;
}
.loading img {
    margin-top: 36%;
	animation: spin 5s linear 0s infinite;
	-webkit-animation: spin 5s linear 0s infinite;
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(-360deg);}
}
@-webkit-keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(-360deg);}
}
footer .social {
	padding: 15px 0;
}
footer .social a img{
	margin-left:6%;
}

footer .browser .social__logo{
	display: none;
}
footer .social__logo{
	color: #444444;
    float: right;
    margin: 0;
    margin-right: 10%;
    font-size: 32px;
    padding: 0;
}
footer .social a:first-child img{
	margin-left:11%;
	
	
}
footer .social{
	background: #151515;
}
footer .social a{
	text-decoration: none;
}
footer .menu {
	background:#181818;
    position: relative;
}
footer .menu ul{
	margin: 0;
	display:inline-table;
	padding: 0;
	width:18%;
    line-height: 30px;
}
footer .menu ul:first-child{
	margin-left:11%;
}
footer .menu .menu__h{
	font-size: 26px;
	color:#444;
	
    line-height: 44px;
}
footer .menu ul li a{
	color:#bbb;
	text-decoration:none;
}
	
footer .menu ul li{
	list-style-type:none;
}
footer .menu .browser{
    display: inline-table;
    width: 24.3%;
    text-align: right;
    color: #5c5c5c;
    font-size: 14px;
    margin-right: 7%;
    position: absolute;
    bottom: 0px;
}
.popup-hover {
	display: none;
    background: #000;
    opacity: 0.9;
    text-align: center;
    position: absolute;
    width: 81px;
    padding: 0px 10px;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}
a:hover .popup-hover {
	display: block;
}
.popup-hover h5 {
	font-size: 14px;
}
@media all and (max-width: 768px){
	header .menu,
	.main .main__content .content-header input,
	.main__forms .authorization,
	footer .social .social__logo	{
		display: none;
	}
	
	header {
		background-size: 200%;
		background-position-x: 50%;
		height: 20vw;
	}
	.main .main__content .content-header h1 {
		position: absolute;
		top: 0;
		width: 100%;
		background: #000000a8;
		left: 0;
		color: white;
		text-align: center;
	}
	.main .container {
		width: 100%;
	}
	.main .main__content,
	.main .main__forms {
		width: 100%;
	}
	.main__content .categories__item {
		width: 49%;
	}
	.main__forms .monitor {
		margin-bottom: 0;
	}
	footer .social a img {
		margin-left: 6% !important;
		width: 9%;
	}
	
	footer .browser .social__logo{
		display: block;
		width: 100%;
		margin: 0;
		float: none;
		padding-bottom: 15px;
	}
	footer .menu ul {
		width: 100%;
		text-align: center;
		margin-left: 0px !important;
	}
	footer .menu .browser {
		display: block;
		position: relative;
		margin: 0;
		text-align: center;
		width: 100%;
	}
	
	.main__content .main__h2{
		margin-left: 14%;
	}
}
